.panel-login{padding:15px;background-color:#EBEBEB;}.user-name{color:#c0c0c0;}.user-p{margin-top:15px;}.item{margin-left:10px;margin-top:10px;}.action-link{height:20px;}.item{word-wrap:break-word;}.btn-cat{margin-top:20px;}.item_category{margin-left:10px;margin-top:10px;height:60px;}